.buttonWhite {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 3, 4);
}

.buttonBlack {
    -fx-background-color: black;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 3, 4);
}

.buttonWhite:hover{
    -fx-background-color: lightgray;
}

.buttonBlack:hover{
    -fx-background-color: #302E2D;
}

.buttonWhite:pressed{
    -fx-translate-x: 2;
    -fx-translate-y: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.buttonBlack:pressed{
    -fx-translate-x: 2;
    -fx-translate-y: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.fundo {
    -fx-background-color: white;
}